set video_mode "800 600"
#set fullscreen 1

#set console_font "./gfx/hgotic.png"
set console_font "./gfx/fixed12s.png"
#set menu_font "./gfx/hgotic.png"
set draw_title_pic 0
set input_super_mode console

exec "./cfg/menu.rc"
exec "./cfg/colors.rc"
exec "./cfg/weapons.rc"

set mouse_on false

set cycles_per_frame 3

#set delay 0.033
#set delay 0

set gravity 0.01

set bumpiness 40
set slope 3
set width 800
set heigth 600

set max_wind 0

#bind_global rbracket incd1
#bind_global lbracket decd1


#server;connect;connect;start
#aim 80 14;done
#aim 80 16;done

alias p2 {server;connect;connect;start}
alias p3 {server;connect;connect;connect;start}
alias p4 {server;connect;connect;connect;connect;start}
alias d {done;done}

bind_action left aim_left game
bind_action right aim_right game
bind_action up aim_up game
bind_action down aim_down game
bind_action tab next_weapon game
bind_mode enter game {done}
bind_mode +lctrl game {set angle_speed 10}
bind_mode -lctrl game {set angle_speed 1}

bind_global f2 {toggle input_super_mode shop}
bind_global +f3 {toggle input_super_mode shop}
bind_global -f3 {toggle input_super_mode shop}
bind_mode up shop {shop_up}
bind_mode down shop {shop_down}
bind_mode left shop {shop_left}
bind_mode right shop {shop_right}
bind_mode enter shop {shop_ok}

bind_global f9 {screenshot}
